
@{
    ViewData["Title"] = "Service Bus Queue Monitoring";
    @model SbModel
}

<h1>Service Bus Main Page</h1>
<br />
<h1>Service Bus Message Count</h1>
<h1 id="MsgCount">@Model.MessageCount</h1>
<br />
<h1>Service Bus Scheduled Message Count</h1>
<h1 id="SchMsgCount">@Model.ScheduledMessageCount</h1>

@* Create a button *@
<br />
<h6>Click the button to populate the Service Bus with 10,000 Messages in each Service Bus Queue</h6>
<button id="btn">Populate Service Bus</button>

@* @section Scripts {
    <script>
        $(document).ready(function () {
            $('#btn').click(function () {
                $.ajax({
                    url: '/Test/PopulateSbQueues',
                    type: 'GET',
                    success: function (data) {
                        $('h1').text(data);
                    }
                });
            });
        });
    </script>
} *@

@* JavaScript that calls Test/GetMessageCounts and populates the Model.MessageCount and Model.ScheduledMessageCount and have the values refreshed every second *@
@section Scripts {
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: '/Test/GetMessageCounts',
                    type: 'GET',
                    success: function (data) {
                        $('#MsgCount').text(data.MessageCount);
                        $('#SchMsgCount').text(data.ScheduledMessageCount);
                    }
                });
            }, 1000);
        });
    </script>
}





